<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.curr_situation_board.mapper.MonthProgressMapper">
    <select id="findMonthProgress" resultType="com.example.curr_situation_board.vo.MonthProgressVo">
        select `USAGE`,PLAN_M as plan,PLAN_M_MUBIAO as real_plan,ACT_M_MUBIAO as act,(ACT_M_MUBIAO - PLAN_M_MUBIAO) as gap
        from daily_production
        where (FAB = 'TOTAL' and `USAGE` = 'MNT' and TYPE = #{type}) or (FAB = 'TOTAL' AND `USAGE` = 'TV' and TYPE = #{type})
        or (FAB = 'TOTAL' AND `USAGE` = 'TTL' and TYPE = #{type})
    </select>
</mapper>
